<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@2"></script>
    <div id="app">
        <p v-if="flag">v-if</p>
        <p v-show="flag" flag>v-show</p>
        <hr>
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                flag: true,
                type: "A"
            },
            methods: {
            }
        })
    </script>
</body>

</html>